<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xk.love.cly.dao.LabelMapper">

    <insert id="save" parameterType="com.xk.love.cly.entity.Label" keyProperty="id" keyColumn="id" useGeneratedKeys="true">
        insert into label(content,location,created) values(#{content},#{location},#{created})
    </insert>

    <select id="listAll" resultType="com.xk.love.cly.entity.Label">
        select * from label
    </select>

    <update id="update" parameterType="com.xk.love.cly.entity.Label">
        update label
        <set>
            <if test="content != null and content !=''">
                content=#{content},
            </if>
            location=#{location}
        </set>
        where id=#{id}
    </update>
    <delete id="delete">
        delete from label where id=#{id}
    </delete>
</mapper>